.navber {
    /* From https://css.glass */
        background: rgba(12, 12, 12, 0.436);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.6px);
        -webkit-backdrop-filter: blur(7.6px);
}

.circle {
    animation: circle 8s linear infinite;
}

@keyframes circle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

/* About Page */
.about_img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--primary), white);
    opacity: 0;
    inset: 0;
    filter: blur(1rem);
    transition: .3s all ease;
    z-index: -1;
}

.about_img:hover::after {
    opacity: 100;
}