@import "tailwindcss";

:root {
    --primary: #0051FF;
    --bg: #0c0c0c;
    --sec: ;
    --tri: ;
    --ln: linear-gradient(to right, #0051FF), white;
}

@font-face {
    font-family: 'helvetica';
    src: url(../fonts/Helvetica.ttf);
}

* {
    font-family: 'helvetica';
}

html,
body {
    background: var(--bg);
    color: white;
    scroll-behavior: smooth;
    /* user-select: none; */
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: -10px -10px 5px rgb(255, 255, 255);
    background: var(--primary);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}


/* --------- */
.pyq {
    background: linear-gradient(120deg, transparent 0%, rgba(255, 255, 255, 0.1) 30%, var(--primary) 50%, rgba(255, 255, 255, 0.1) 70%, transparent 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowSlide 10s linear infinite;
}

@keyframes glowSlide {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -00% 0;
    }
}

.achiever-img {
    /* clip-path: polygon(21% 0%, 55% 18%, 99% 2%, 82% 74%, 37% 100%, 5% 70%); */
    clip-path: polygon(15% 0%, 49% 16%, 94% 0%, 82% 74%, 37% 100%, 5% 70%);
    /* rotate: -85deg; */
}

